body {
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6em;
    font-weight: lighter;
}
pre, code {
    font-family: Consolas, monofur, Monaco;
    margin: 0;
    margin-left: 2em;
    text-shadow: 0 -0.1em 0.2em #aaa;
    white-space: pre;
}
.class {
    margin-left: 1em;
}
h1, p {
    font-size: 0px;
    display: inline;
}
.string, a {
    color: #7aa11c;
}
a:hover {
    color: #00f;
}
.array {
    margin-left: 1.6em;
}
.operator {
    color: #000;
}
.punctuation {
    color: #000;
}
.identifier, .number, .strong {
    color: #FF005A;
}
.className {
    color: #690CE8;
}
.actionName {
    color: #B58331;
}
.varName {
    color: #600;
}
.notation {
    color: #808080;
}
.inner {
    display: block;
}
.action {
    display: block;
}
.varArr {
    margin-left: 4em;
}
.ml {
    margin-left: 2em;
}
@media screen and (max-width: 960px){
    body{
        font-size: 1em;
    }
}